.tableWrapper {
  display: flex;
  align-items: center;
}

.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
}
.droppable {
  background-color: #1f91bb;
  transform: scale(1.1);
}
